<html>
<head>
   <style>
	 body {font-family:Arial;font-size: 12px; background-color:#fff; line-height:20px;margin:1px;}
	 h5 { font-size: 12px; color: #6e6e6e; padding: 0px; margin: 0px; }
     h6 { font-size: 14px; color: #6e6e6e; padding: 0px; margin: 0px; font-weight:bold; }
   </style>
   <SCRIPT type="text/javascript" lang="javascript" 
        src="http://cdn.gigya.com/JS/socialize.js?apikey=2_Y82PzwJ_chSFImHXaIDJClnLyJzmk-VFOavSsaNTzl6m901s_NNxRAS0xJ3bd3_N">
   </SCRIPT>
   <script>
	function onLoad() {
	 // Conseguir los datos del usuario, un callback a la función renderUI, un poco mas debajo que busca la info las almacena en variables.
	 gigya.socialize.getUserInfo({ callback: renderUI });

	 // register for connect status changes
	 gigya.socialize.addEventHandlers({ onConnectionAdded: renderUI, onConnectionRemoved: renderUI });
	}
    </script>
    
    <script>
      function renderUI(res) {
        if (res.user != null && res.user.isConnected) {
           document.getElementById("name").innerHTML = res.user.nickname;
		   document.getElementById("emails").innerHTML = res.user.email;
		   document.getElementById("email").setAttribute("value", res.user.email);
           if (res.user.thumbnailURL.length > 0)
            document.getElementById("photo").src = res.user.thumbnailURL;
             else
              document.getElementById("photo").src
                = "http://cdn.gigya.com/site/images/bsAPI/Placeholder.gif";
               document.getElementById("profile").style.display = "block";
            } else {
               document.getElementById("profile").style.display = "none";
          }
        }	    
	</script>
</head>
<body onload="onLoad()" >
	<h5>Step 1: Connect</h5>
        <div id="divConnect"></div>
    <script type="text/javascript">
        // show 'Add Connections' Plugin in "divConnect"
        gigya.socialize.showAddConnectionsUI({ 
			height:65
			,width:175
			,showTermsLink:false // NO QUIERO TERMS
			,hideGigyaLink:false // NO QUIERO GIGYA LINKS
			,containerID: "divConnect" // 
		});
    </script>    
    <br />
    <h5>Step 2: See User Info</h5><br />
    <div id=profile style="display:none;">
        <img id="photo" src="" width="60" />            
        <br />
        <span id="name" ></span>
		<br />
		<!-- Agrego un campo de email para enseñar que Gigya lo está devolviendo correctamente-->
	    <span id="emails" ></span>
    </div>  
	<form action="/signup" method="POST">
	  <input id="email" hidden="true" name="email" type="text"/>
	  <input type="submit" value="Subscribe"/>
	</form>      
	<br />
	<form action="/unsubscribe" method="POST">
     <input type="submit" value="Unsubscribe"/>
    </form>
</body>
</html>