<html>
 <head></head>
 <body>
  <form action="/signup" method="POST">
   <input id="email" name="email" type="text" value"" placeholder="Emaiiiiil PorFiiiIIiiiss"/>
   <input type="submit" value="Subscribe"/>
  </form>
</body>